<div class="panel panel-default">
  <div class="panel-body" id="messages-<%= @chatroom.id %>">
    <%= render partial: "messages/message", collection: @chatroom.messages%>
    <p class="card-text message-show hidden">
      <span class="text-muted user-message mark-title"></span>:
      <span class="content-message"></span>
    </p>
  </div>
</div>
<% if user_signed_in? %>
  <%= render partial: "messages/message_form", locals: {message: @message, chatroom: @chatroom} %>
<% end %>
