.root_links {
  li {
    &:nth-child(2) {
      display: none;
    }
  }
}

.table-striped {
  tr {
    i {
      font-size: 20px;
    }
  }
}

.show-all {
  width: 230px;
}

.total-count {
  margin: 15px 0;
}

#new_match {
  .point_team_1_field, .point_team_2_field {
    display: none;
  }
}
