@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'variable';

html {
  background-color: $body_boder;
}

body {
  background-color: $body_boder;
}

.footer {
  background-color: $footer_border;
  padding: 5px 0;
}

.header-search {
  form {
    text-align: right;
    padding-top: 60px;
    input {
      width: 250px;
    }
  }
}

ul {
  &.navbar-nav {
    width: 100%;
    background-color: $footer_border;
    margin-bottom: 20px;
    &>li {
      &>a {
        padding: 10px 15px;
      }
    }
  }
}

.header-page {
  padding: 15px 0;
}

.new_content {
  background-color: $white;
}

.news_form {
  input[type="submit"] {
    display: none;
  }
}

.nav {
  li {
    border-right: 1px solid $nav_border;
    &:hover {
      background-color: #97FFFF;
    }
  }
}

.bg-content {
  background-color: $white;
  min-height: 375px;
}

.table-match {
  tr {
    .title {
      background-color: $blue;
      text-align: left;
      h4 {
        margin: 0;
        font-size: 14px;
        color: $white;
      }
    }
    td {
      text-align: center;
    }
  }
  thead {
    tr {
      th {
        background-color: $ship_grey;
        text-align: center;
        color: $white;
        &:not(:last-child) {
          border-right: 1px solid $white;
        }
        a {
          color: $white;
        }
      }
    }
  }
}

.modal {
  .modal-content {
    background-color: #c3bfc0;
    .clor-yl {
      color: $yellow;
    }
    p {
      border-top: 1px solid $gothic;
      padding-top: 10px;
    }
    .btn_close {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0px;
      border: none;
      background-color: #c3bfc0;
      i {
        font-size: 25px;
      }
      &:hover {
        background-color: $ship_grey;
      }
    }
  }
}
