$body_boder: #350033;
$footer_border: #c3c2c1;
$white: white;
$gray-light: #777;
$nav_border: #F8F8FF;
$blue: blue;
$ship_grey: #505050;
$yellow: yellow;
$gothic: #669999;
$light-blue: #0084b2;
$green: green;
$red: red;
