<div class="container">
  <div class="footer_cover">
    <div class="row">
      <div class="col-md-8" id="footer_left">
        <div class="width-33">
          <%= image_tag "advertising.gif" %>
        </div>
        <div class="width-33">
          <%= image_tag "advertising1.gif" %>
        </div>
        <div class="width-33">
          <%= image_tag "advertising2.gif" %>
        </div>
      </div>
      <div class="col-md-4 text-right facebook">
        <div class="fb-page" data-href="https://www.facebook.com/fpbongdaso"
         data-small-header="false" data-adapt-container-width="true"
         data-hide-cover="false" data-show-facepile="true" data-hide-cta="true">
        </div>
      </div>
    </div>
    <div class="footer text-center">
      <%=  t ".copy_right" %>
    </div>
  </div>
</div>
