<div class="container header-page">
  <div class="col-md-3">
    <%= link_to image_tag("logo.png") %>
  </div>
  <div class="col-md-9">
    <div class="header-search">
      <%= form_tag(root_path, method: :get) do %>
        <%= text_field_tag :product_search, nil, placeholder: t("enter_keyword") %>
        <%= button_tag type: "submit", class: "search-btn" do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
