<div class="container">
  <nav class="navbar-default">
    <ul class="nav navbar-nav">
      <li><%= link_to t(".news"), news_index_path %></li>
      <li><%= link_to t(".data"), matches_path %></li>
      <li><%= link_to t(".live_scope"), live_score_index_path %></li>
    </ul>
  </nav>
</div>
